@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: fixed;
  overflow-x: hidden;
}

.card-border {
  background: -webkit-linear-gradient(-90.13deg, #b0b7c0 60.5%, #b5b7b6 99.9%);
}